{% from "macros.html" import nav_link with context %}
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Cross Verification</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/layout.css') }}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Group 4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{ nav_link('summary', 'Home') }}
                </li>
                <li class="nav-item">
                    {{ nav_link('comparison', 'Compare') }}
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block heading %}
        <h1>{% block page %}{% endblock %}</h1>
    {% endblock %}
    <h2>Cross Verification of Protein Information</h2>
    <!--<h2>This is part of my base template</h2>-->
    <br>
    {% block content %}{% endblock %}
    <br>
    <!--<h2>This is part of my base template</h2>-->
    <br>
</div>
<div class="footer">
    {% block footer %}
        <a href="https://gitlab-sysprog.informatik.uni-bonn.de/bschultz/group04">Project GitLab Page</a> -
        {{ current_time }}
    {% endblock %}
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
